:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

* {
    border: 1px black solid;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 2fr 4fr 1fr;
    height: 100%;
    width: 100%;
}

a {
    color: blue;
}

.left-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}
.right-bar {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}

.content-box {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 20px;
    padding: 10px;
}

.head {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
}

input {
    width: 150px;
}

button {
    width: 100px;
}
